<form class="SignupForm__form" [formGroup]="form" (submit)="submit()">
  <send-partners-common-panel *ngIf="error$ | async" [type]="PanelType.Error">
    <p>{{ APIErrorCodeTranslation[(error$ | async)!] }}</p>
    <a *ngIf="(error$ | async) === APIErrorCode.UserAlreadyExists" [routerLink]="AppPath.Login">Login instead</a>
  </send-partners-common-panel>

  <text-input
    class="SignupForm__field"
    [label]="'common.email' | translate"
    [type]="'email'"
    [formControlName]="'email'"
    [email]="true"
    [required]="true"
    [forceInvalidBorder]="!!(error$ | async)"
  ></text-input>

  <text-input
    [id]="passwordId"
    class="SignupForm__field"
    [label]="'common.password' | translate"
    [type]="'password'"
    [formControlName]="'password'"
    [required]="true"
    [forceInvalidBorder]="!!(error$ | async)"
    [autocomplete]="'new-password'"
    [pattern]="passwordRegex"
  ></text-input>

  <send-partners-common-password-strength
    class="SignupForm__password-strength"
    [password]="password.value"
  ></send-partners-common-password-strength>

  <text-input
    [id]="confirmPasswordId"
    class="SignupForm__field"
    [label]="'common.confirm_password' | translate"
    [type]="'password'"
    [formControlName]="'confirmPassword'"
    [required]="true"
    [forceInvalidBorder]="!!(error$ | async)"
    [autocomplete]="'new-password'"
  ></text-input>

  <button [type]="'submit'" class="SignupForm__button" [loading]="form.disabled">{{ 'send_partners.signup' | translate }}</button>
</form>

{{ 'send_partners.or' | translate }} <a [routerLink]="AppPath.Login">{{ 'common.login' | translate }}</a>
