<form class="SignupName__form" [formGroup]="form" (submit)="submit()">
  <h2>{{ 'signup.whats_your_name' | translate }}</h2>

  <common-panel *ngIf="error$ | async" [type]="PanelType.Error">
    <p>{{ error$ | async | translate }}</p>
  </common-panel>

  <text-input
    class="SignupName__field"
    [label]="'common.name' | translate"
    [formControlName]="'name'"
    [required]="true"
    [forceInvalidBorder]="!!(error$ | async)"
    [validationTranslations]="{
      required: 'common.validation.name_required',
      pattern: 'common.validation.name_invalid'
    }"
  ></text-input>

  <footer>
    <button [type]="'submit'" class="SignupName__button" [loading]="form.disabled">
      {{ 'common.next' | translate }}
    </button>
  </footer>
</form>
