<form class="SignupName__form" [formGroup]="form" (submit)="submit()">
  <common-panel *ngIf="error$ | async" [type]="PanelType.Error">
    <p>{{ error$ | async | translate }}</p>
  </common-panel>

  {{ error$ | async | translate }}

  <text-input
    class="SignupName__field"
    [label]="'common.name' | translate"
    [formControlName]="'name'"
    [required]="true"
    [forceInvalidBorder]="!!(error$ | async)"
    [validationTranslations]="{
      required: 'common.validation.name_required',
      pattern: 'common.validation.name_invalid'
    }"
  ></text-input>

  <button [type]="'submit'" class="SignupName__button" [loading]="form.disabled">{{ 'common.next' | translate }}</button>
</form>
